
body { 
    background-color: #051937; 
    color: #DEF5F3; 
    background-image: url("../assets/img/mkapastadium.jpg");
    background-repeat: none;
    background-size: cover;
    opacity: 0.9;
} 

body nav { 
    background-color: #00C6BF; 
    color: #F7F9FF; 
} 

div .alert {
    margin-top: 20%; 
}
