<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>home page</title>
<!-- Bootstrap core CSS -->
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">


{% block stylesheet %}

{% endblock stylesheet %}
</head>

<body>
{% block content %}

{% endblock content %}

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/popper.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'pgia/lib/pgia.js' %}"></script>
    </body>
</html>
