{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'css/ticket.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
{% include 'navbar.html' %}
        <div class="container">
            <form action="{% url 'loginapp:payment' match.pk %}" method="post">
                {% csrf_token %}
            <div class="jumbotron shadow-sm mt-5">
                <h2 class="text-center" data-pg-ia='{"l":[{"trg":"mouseenter","a":"bounceIn"}]}'>
                    <img width="100" style="border-radius: 50%;" src="../../uswazi/media/QQ.jpg" alt="home"> {{match.home_team}} 
                    Vs 
                    <img width="50" style="border-radius: 50%;" src="../static/assets/img/bridge.jpg" alt="away"> {{match.away_team}}</h2>
                <p class="lead text-center p-1">Stadium : {{match.stadium}}</p>
                <table class="table text-white text-center"> 
                    <thead> 
                        <tr> 
                            <th>Date & Day</th> 
                            <th>Amount</th> 
                            <th>Status</th> 
                        </tr>                         
                    </thead>                     
                    <tbody> 
                        <tr> 
                            <th scope="row">{{match.date}}</th> 
                            <!-- price field -->
                            <td name="price" id="price"></td> 
                            <td>
                                <select required name="price" onchange="pricechanger()" class="custom-select border border-light border-0" id="inlineFormCustomSelect" style="background-color: #007789; color: white;">
                                    <option value="" selected="">Choose Status</option>
                                    {% for ent in match.matchentrace_set.all %}
                                    <option value="{{ent.vip_price}}">VIP</option>
                                    <option value="{{ent.platnum_price}}">PLATNUM</option>
                                    <option value="{{ent.mzunguko_price}}">MZUNGUKO</option>
                                    {% endfor %}
                                </select>
                            </td>                             
                        </tr>                         
                    </tbody>                     
                </table>
                <hr class="my-4"/>
                
                {% if messages %}                
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <strong>{{message}}</strong>
                </div>

                {% endfor %}
                        
                {% endif %}
                



                {% if request.user.is_authenticated %}

                <div class="dropup" id='cont'>
                    <a role="button" type='button' data-pg-ia='{"l":[{"trg":"click","t":"this","a":"bounce"}]}' class="btn btn-sm btn-warning float-right mr-5 shadow-sm dropdown-toggle" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Pay Ticket
                    </a>
                    <ul id="potea" class="dropdown-menu" aria-labelledby="triggerId">
                        <h6 class="dropdown-header">Choose Method</h6>
                        <div class="dropdown-divider"></div>
                        <li onclick="mpesa()" class="dropdown-item">Mpesa</li>
                        <li class="dropdown-item" href="#">Tigopesa</li>
                        <li class="dropdown-item" href="#">Halopesa</li>
                    </ul>
                </div>
                <p>Paid By: <span class="text-white text-capitalize font-weight-bold"> {{request.user.fanprofile.full_name}}</span> </p>
                
                {% else %}
                <p><span class="text-danger text-capitalize font-weight-bold">Guest</span> can't pay for ticket </p>
                <a href="{% url 'login' %}" class="btn btn-lg btn-danger float-right shadow-sm border border-0 border-light" type="submit" role="button" data-pg-ia='{"l":[{"trg":"click","t":"this","a":"bounce"}]}'>Login to pay</a>
                {% endif %}
                    
            </div>

        </form>
        </div>


<script>
    function mpesa(){
        var home = "{{match.home_team}}";
        var away = "{{match.away_team}}";
        var my_price = document.getElementById('price').innerHTML;
        if (my_price){
            var mpesa_number = Number(prompt('Enter Mpesa funded number to make payement\n'))
            if (mpesa_number && typeof mpesa_number == 'number'){
                var mpesa_pin = prompt('You are about to pay ' + my_price + '\n'+
                                    'from '+ mpesa_number +' to FANS TICKETING SYSTEM for \n' 
                                    + home+' vs ' + away + ' match ticket, \n\n'+
                                    'Enter PIN to confirm') 
                if (mpesa_pin == '1234'){
                    done = confirm('confirm payments?');
                    if (done){
                        var container = document.getElementById('cont');
                        var btnn = document.getElementById('triggerId');
                        document.getElementById('potea').hidden = true;
                        btnn.outerHTML = '<button type="submit" data-pg-ia=\'{"l":[{"trg":"click","t":"this","a":"bounce"}]}\' class="btn btn-sm btn-success float-right mr-5 shadow-sm">GO</button>';
                    }

                    } else {
                        alert('Wrong password, try again...')
                    }
                } else {
                    alert('enter valid mpesa number')
                }
            } else {
                alert('choose status first')
            }
        };

    function pricechanger() {
        document.getElementById('price').innerHTML= document.getElementById('inlineFormCustomSelect').value;
    }
</script>

{% endblock content %}
