{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock stylesheet %}
{% block content %}

{% include 'navbar.html' %}

<div class="container mt-5 text-white">
    <div class="jumbotron shadow-sm mt-5 text-white">
        <h3 class="d-flex justify-content-between align-items-center">
Tickets<span class="badge badge-success badge-pill">{{total_tickets}}</span> </h3>
        <div class="alert alert-success text-center border border-0 border-light" role="alert">
          Hi {{request.user.fanprofile.full_name}}!! {% if matchs %} These are your ticket(s)

</div>
        <table class="table w-100 text-white"> 
            <thead> 
                <tr> 
                    <th>S/N</th> 
                    <th>Match</th> 
                    <th>Stadium</th> 
                    <th>Entrace</th> 
                    <th>DateTime</th> 
                    <th>Token</th> 
                </tr>                         
            </thead>                     
            <tbody>
                {% for match in matchs %} 
                <tr> 
                    <th scope="row">{{match.id}}</th> 
                    <td>{{match.match.home_team}} Vs {{match.match.away_team}}</td> 
                    <td>{{match.match.stadium}}</td> 
                    <td>{{match.amount}}</td>                           
                    <td>{{match.date}}</td>                           
                    <td>{{match.ticket_number}}</td>                           
                </tr> 
                
                {% endfor %}
                                      
            </tbody>                     
        </table>
                        
                  {% else %}
                  have no tickets yet!! <a href="{% url 'loginapp:home' %}">Book here</a>
                {% endif %}
    </div>
    {% if messages %}                
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <strong>{{message}}</strong>
    </div>

    {% endfor %}   
            {% endif %}
</div>


{% endblock content %}